@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "IBM Plex Sans", serif;
}

.header {
    max-height: 100vh;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    /*min-height: 95.5vh;*/
    /*max-height: 95.5vh;*/
    background-color: grey;
}

.menu-container {
    min-height: 95.5vh;
    flex: 1 1 50vw;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #440bd4;
}

.button-container {
    flex: 1 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.menu-container {
    justify-content: space-around;
}

.menu-container button {
    flex: 1 1 auto;
    color: black;
    text-align: center;
    font-size: 2vh;
    font-style: normal;
    width: 100%;
    border: none;
    background-color: #440bd4;
}

.menu-container button:hover {
    transition: 0.1s;
    color: #ff2079;
}

.logo-container {
    flex: 0 1 auto;
    /*border: #ff2079 solid 1px;*/

    padding-top: 10vh;
    width: 100%;
}

.logo-container img {
    width: 100%;
    transform: scale(0.7);
}

.artwork-container {
    display: flex;
    flex: 1 1 auto;
}

.artwork-container img {
    height: 100%;
    max-height: 95.5vh;
    min-width: 100%;
    max-width: 100vw;
}

pre {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 4.5vh;
    font-size: 0.5vh;
    color: #ff2079;
    width: 100vw;
    text-align: center;
    font-weight: bolder;
    background-color: black;
    /*white-space: pre;*/
}

@media (hover: hover) {
    pre:hover {
        color: grey;
        transition-duration: 1s;
    }
}

@media not all and (hover: hover) {
    pre::after {
        content: ' (' attr(title) ')';
    }
}

.gallery-container {
    /*margin-top: 4.5vh;*/
    width: 100vw;
    /*height: 95.5vh;*/
    text-align: center;
    background-color: black;
}

.gallery {
    display: none;
    max-width: 100%;
    /*margin: 0 auto;*/
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    /*box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);*/
    transition: all .3s;
}

.gallery-item img {
    width: 100%;
    object-fit: cover;
}

.footer-container {
    padding: 0;
    margin: 0;
    height: 6vh;
    text-align: center;
    color: #ff2079;
    font-size: 1.25vh;
    background-color: black;
    white-space: pre-line;
}

.footer-container span {
    color: #ff2079;
}

#scroll-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
}

#scroll-btn {
    width: 40px;
    height: 40px;
    color: black;
    transition: opacity 0.5s, transform 0.5s;
    font-size: 3vh;
    align-self: end;
}
#scroll-btn.show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}

#scroll-btn:hover {
    transition: 0.1s;
    color: #ff2079;
}

#error-handle {
    display: none;
    margin: 5vh auto 5vh auto;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #ff2079;
}

#error-handle img {
    max-width: 15vh;
    max-height: 15vh;
}