@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #424242;
    color: white;
    font-family: "IBM Plex Sans", serif;
}

.header {
    text-align: center;
    background-color: black;
    font-size: 3vh;
    color: #ff2079;
    height: 4.5vh;
}

.links-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.links-container button {
    flex: 1 1 auto;
    color: black;
    text-align: center;
    font-size: 2vh;
    font-style: normal;
    height: 4vh;
    width: 100%;
    border: none;
    background-color: #424242;
}

.links-container button:hover {
    transition: 0.1s;
    color: #ff2079;
}

.image-container {
    margin-top: 10vh;
    display: flex;
    align-items: center;

}

.image {
    flex: 1 1 auto;
}

.image-container img {
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    height: 5vh;
    width: 100vw;
    text-align: center;
    color: #ff2079;
    font-size: 1.25vh;
    background-color: black;
    white-space: pre-line;
}