@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #424242;
    color: white;
    font-family: "IBM Plex Sans", serif;
}

.header {
    text-align: center;
    background-color: black;
    font-size: 3vh;
    color: #ff2079;
    height: 4.5vh;
}

.links-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.links-container button {
    flex: 1 1 auto;
    color: black;
    text-align: center;
    font-size: 2vh;
    font-style: normal;
    height: 4vh;
    width: 100%;
    border: none;
    background-color: #424242;
}

.links-container button:hover {
    transition: 0.1s;
    color: #ff2079;
}

.image-container {
    margin-top: 10vh;
    display: flex;
    align-items: center;

}

.image {
    flex: 1 1 auto;
}

.image-container img {
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit-container {
    color: #ff2079;
    padding: 15px;
    text-align: center;
    margin: 5vh auto 5vh;
    background: black;
    border-radius: 10px;
    min-width: 450px;
    position: relative;
    min-height: 100px;
    max-width: 50%;
}

#new-track {
    position: relative;
    padding: 30px 20px;
}

#push-field {
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#push-field:focus {
    outline: none;
    border-color: #ff2079;
}

#push {
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #ff2079;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
}

#track-list {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: black;
    padding: 30px 20px;
    margin-top: 10px;
}

.track {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    background-color: white;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    color: black;
}

.track span {
    font-size: 15px;
    font-weight: 400;
}

.track button {
    background-color: #ff2079;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

.footer-container {
    padding: 0;
    margin: 0;
    height: 5vh;
    width: 100vw;
    text-align: center;
    color: #ff2079;
    font-size: 1.25vh;
    background-color: black;
    white-space: pre-line;
}